@charset "ISO-8859-1";
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text_content>div{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}


.text_content{
    margin: 0px 20px;
}

.mota>input{
    padding: 10px 30px;
}

.container{
    background-color: darkgray;
    max-width: 450px;
    height: 50vh;
    background-size: cover;
    position:relative;
    margin-left: 900px;
    bottom: -8px;
}

.anh{
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 21px 0px;
    width: 220px;
}

.info_content{
    display: flex;
}


