<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book-View-Customer</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
button.save, button.cancel {
	display: none;
}
body{
    background-color:azure;
    font-size: 20px;
}
.header-user {
  padding: 10px;
  text-align: center;
  background: #53565a;
  color: white;
  font-size: 10px;
}
.nav{
	padding-left: 1110px;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 20px;
}
.dropdown{
  margin-left: 20px;
}
.add-card{
	margin-left: 35px;
}
.button-index{
	background-color: #53565a;
}
</style>
</head>
<body>
	<div class="header-user">
		<ul class="nav">
			<li>
				<div>
					<a href="#"><img src="/images/add-cart.png" alt="photo" width="30px"></a>
				</div>
			</li>
			<li><img class="avatar" src="/images/signin-image.jpg" alt="photo" width="25" height="25"></li>
			<li>
				<div class="dropdown">
					<button class="button-index btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[${#request.remoteUser}]]</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" th:href="@{register}">Đăng ký tài khoản mới</a></li>
						<li class="divider"></li>
						<li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="all">
		<div class="header">
			<div class="row">
				<h1>Thông tin sách</h1>
			</div>
		</div>

		<div class="content">
			<form class="form_content" th:each="book: ${customer}" enctype="multipart/form-data" th:action="@{save/{id}(id=${book.bookcode})}">
				<div class="info_content">
					<div class="text_content">


						<div class="td">
							<label for="tde">Tiêu đề</label> <input type="text" id="tde" name="tieude" required disabled th:value="${book.tieude}">
						</div>

						<div class="tg">
							<label for="tgia">Tác giả</label> <input type="text" id="tgia" name="tacgia" required disabled th:value="${book.tacgia}">
						</div>

						<div class="mota">
							<label for="mta">Mô tả</label> <input type="text" id="mta" name="mota" required disabled th:value=${book.mota}>
						</div>

						<div class="tl">
							<label for="tloai">Thể loại</label> 
							<!--  <input type="text" id="tloai" name="theloai" th:value="${book.theloai}"> -->
							<select name="theloai" id="tloai" disabled>
                				<option selected>Khoa Học</option>
                				<option>Viễn Tưởng</option>
                				<option>Chiến Tranh</option>
                				<option>Truyện Tranh</option>
                				<option>Tội Phạm</option>
                				<option>Tâm Lý</option>
                				<option>Tình Yêu</option>
                				<option>Hình Sự</option>
                				<option>Khác</option>
            				</select>
						</div>

						<div class="nph">
							<label for="nphanh">Ngày phát hành</label> <input type="text" id="nphanh" name="ngayphathanh" required disabled th:value="${book.ngayphathanh}">
						</div>

						<div class="st">
							<label for="strang">Số trang</label> <input type="number" id="strang" name="sotrang" size="8" required disabled th:value="${book.sotrang}">
						</div>

					</div>

					<div class="content_photo">
						<div class="ab">
							<label>Ảnh bìa của sách</label>
							<div class="anh">
								<!-- <img th:src="@{/images/{img}(img = ${book.img})}" width="200px" id="" alt="photo" /> -->
								<img width="200px" th:src="@{'/images/'+${book.img}}" >
							</div>
						</div>
						<ul class="ratings">
							<li class="star"></li>
							<li class="star"></li>
							<li class="star"></li>
							<li class="star"></li>
							<li class="star"></li>
						</ul>
						<label for="feedback">Đánh giá</label> <input type="text"
							id="fback" name="feedback" th:value="${book.feedback}" disabled>


						<div class="submit_content">
							<button type="button" class="btn btn-secondary" value="edit"
								id="edit">Phản hồi</button>
							<button type="submit" class="btn btn-success save" value="save"
								id="save">Gửi phản hồi</button>
							<button type="button" class="btn btn-secondary cancel"
								value="cancel" id="cancel">Huỷ bo</button>
						</div>

						<script>
							$('#edit').click(function() {
								$(this).hide();
								$('#save, #cancel').show();
								$('input').attr("disabled", false)

							});

							$('#cancel').click(function() {
								$('#edit').show();
								$('#save, #cancel').hide();
								$('input').attr("disabled", true)

							});

							$('#save').click(function() {
								$(this).hide();
								$('#cancel').hide();
								$('#edit').show();
							});
						</script>
					</div>
				</div>
				
				<a th:href="@{/customer}" class="btn btn-secondary">Thoát</a>
				<script>
					$(function() {
						var star = '.star', selected = '.selected';

						$(star).on('click', function() {
							$(selected).each(function() {
								$(this).removeClass('selected');
							});
							$(this).addClass('selected');
						});

					});
				</script>
				
			</form>
		</div>

	</div>

</body>

</html>