<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Library</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/elegant-icons.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/nice-select.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/jquery-ui.min.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/owl.carousel.min.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/slicknav.min.css}" th:type="@{text/css}">
<link rel="stylesheet" th:href="@{css/newstyle.css}" th:type="@{text/css}">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
body {
	background-image: linear-gradient(45deg,rgba(15, 24, 33, 0.8) 55%,rgb(5, 39, 34)), url("images/background2.png");
	background-size: cover;
	background-position: center;
	height: 90vh;
}
h1{
	color: white;
}

div.tieude{
    text-align: center;
}

td{
	color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

</style>
</head>
<body>  
	<div class="container">
		<header class="header">
			<div class="header__top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="header__top__left">
								<ul>
									<div th:text="${#request.remoteUser}"></div>
									<li>Lập trình web nhóm 03</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="header__top__right">
								<div class="header__top__right__auth">
                                    <a th:href="@{login}"><i class='fas fa-user-alt'></i> Đăng nhập</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="tieude">
			<h1>Thư viện sách</h1>
		</div>
		
        <a th:href="@{book/{id}(id = -1)}" class="btn btn-success" th:value="addbook">Thêm sách</a>
        
		<script>
       	 	$('#addbook').click(function () {
       	 		$('#edit').hide();
           		$('#save').show();
           		$('input').attr("disabled", true)
           		$('select').attr("disabled", true)
       		});
       	</script>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Ảnh bìa của sách</th>
					<th>Tiêu đề</th>	
					<th>Tác giả</th>
					<th>Thể loại</th>
					<th>Ngày phát hành</th>
					<th>Số Trang</th>
					<th>Thực hiện</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="book: ${books}">
					<!--  <td><img th:src="@{/images/{img}(img = ${book.img})}" width="100px"></td> -->
					<td><img th:src="@{'/images/'+${book.img}}" width="100%" height="100px"></td>
					<td th:text="${book.tieude}"></td>
					<td th:text="${book.tacgia}"></td>
					<td th:text="${book.theloai}"></td>
					<td th:text="${book.ngayphathanh}"></td>
					<td th:text="${book.sotrang}"></td>
					<td><a th:href="@{book/{id}(id = ${book.bookcode})}"
						class="btn btn-success">Xem</a>
						<a th:href="@{book/delete/{id}(id = ${book.bookcode})}" class="btn btn-danger">Xoá</a></td>
				</tr>
			</tbody>
		</table>
        <form action="#" th:action="@{/logout}" method="POST" class="formout"> 
            <input type="submit" value="Đăng xuất" class="btn btn-outline-primary mt-2" />
        </form>
	</div>
</body>
</html>
